*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.orientaciones{
 display: flex;
 width: 100%;
}

.orientaciones__orientation{
    width: 33.33%;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h2{
    font-weight: 900;
    font-size: 2.7rem;
    color: white;
    cursor: pointer;
}

p{
    color: white;
    font-weight: 400;
    width: 400px;
}

.orientaciones__desc{
    display: none;
    padding: 1rem;
    transition: opacity .25s;
    opacity: 0;
    font-size: 1rem;
}


.orientaciones__orientation:nth-last-of-type(3){
    background: linear-gradient(90deg, rgba(0,0,0, 0.5) 0%, rgba(0,0,0,0.51) 100%), url('img/img-ado.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: width .25s linear;
}

.orientaciones__orientation:nth-last-of-type(2){
    background:  linear-gradient(90deg, rgba(0,0,0, 0.5) 0%, rgba(0,0,0,0.5) 100%), url('img/img-prog.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: width .25s linear;
}


.orientaciones__orientation:nth-last-of-type(1){
    background:  linear-gradient(90deg, rgba(0,0,0, 0.5) 0%, rgba(0,0,0,0.51) 100%), url('img/img-ipp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: width .25s linear;
}

.orientaciones__orientation:hover{
    width: 700px;
}
.orientaciones__orientation:hover > .orientaciones__desc{
    display: block;
    animation: opacity .125s linear .125s;  
    animation-fill-mode: forwards;
}

@keyframes opacity {
    0%{
        opacity: 0;
        font-size: 0;
    }
    100%{
        opacity: 1;
        font-size: 1rem;
    }
}
